<mat-card class="comment-card">
    <mat-card-actions class="invite-card">
        <button class="invite-button" mat-raised-button (click)="openAddDialog()">COMMENT</button>
    </mat-card-actions>
    <mat-divider></mat-divider>
</mat-card>
<mat-card class="comment-card">
    <mat-card-header>
        <mat-card-title class='comments-title'>COMMENTS</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
</mat-card>
<mat-card class="comment-card" *ngFor="let comment of comments">
    <mat-card-header>
        <mat-card-title>{{comment.Commenter.Name}} {{comment.Commenter.LastName}}</mat-card-title>
        <mat-card-subtitle>{{comment.Text}}</mat-card-subtitle>
        <mat-card-subtitle>{{comment.Rating}} out of 5 stars</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
</mat-card>