.document-card {
    max-width: 50%;
    margin-left: 25%;
}

.delete-button{
    background-color: rgb(219, 92, 92);
}

.mat-card-title {
    font-size: 150%;
}

.mat-card-actions {
    margin-left: 2%;
}