<mat-card class="document-card">
    <mat-card-header>
        <mat-card-title>TOP 3 DOCUMENTS</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
</mat-card>
<mat-card class="document-card" *ngFor="let document of documents">
    <mat-card-header>
        <mat-card-title>{{document.Title}}</mat-card-title>
        <mat-card-subtitle>{{document.Creator.Name}} {{document.Creator.LastName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
</mat-card>