.graph-card {
    max-width: 40%;
    margin-left: 30%;
}

.mat-card-title {
    font-size: 150%;
}

.mat-card-actions {
    margin-left: 2%;
}

.invite-card {
    margin-left: 30%;
}

.creation-graph-title {
    width: 100%;
}