<mat-card class="graph-card">
    <mat-card-actions class="graph-card-actions">
        <mat-card-header>
            <mat-card-title class='creation-graph-title'>Graph of document creation by user in a range of time</mat-card-title>
        </mat-card-header>
        <button class="graph-button" mat-raised-button (click)="onDocumentCreation()">VIEW</button>
    </mat-card-actions>
    <mat-divider></mat-divider>
</mat-card>
<mat-card class="graph-card">
        <mat-card-actions class="graph-card-actions">
            <mat-card-header>
                <mat-card-title class='creation-graph-title'>Graph of document modifications by user by day in a range of time</mat-card-title>
            </mat-card-header>
            <button class="graph-button" mat-raised-button (click)="onDocumentModification()">VIEW</button>
        </mat-card-actions>
        <mat-divider></mat-divider>
    </mat-card>
