.document-card {
    max-width: 70%;
    margin-left: 15%;
}

.mat-card-title {
    font-size: 150%;
}

.mat-card-actions {
    margin-left: 2%;
}

.header-buttons {
    margin-bottom: 5%;
}

.full-width-input {
    width: 100%;
}

.title-panel {
    color: black;
}

.paragraph-buttons {
    margin-top: 3%;
}